<% if @gossip.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@gossip.errors.count, "error") %> prohibited
        this gossip from being saved:
      </h2>
      <ul>
        <% @gossip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<%= label_tag 'Author', "Author du gossip" %> 
	<%= text_field_tag 'author' %> 

	<%= label_tag 'string', 'Content' %> 
	<%= text_area_tag 'string' %>